@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEFEFE;
  --foreground: #171717;
  --mint: #66C8A2;
  --white: #FEFEFE;
  --charcoal: #2E3F54;
  --moonstone: #3CB7C4;
  --davys-gray: #54595F;
  --error: #ff4d4f;
  --warning: #faad14;
  --success: #66C8A2;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FEFEFE;
    --foreground: #2E3F54;
    --mint: #66C8A2;
    --white: #FEFEFE;
    --charcoal: #2E3F54;
    --moonstone: #3CB7C4;
    --davys-gray: #54595F;
    --error: #ff4d4f;
    --warning: #faad14;
    --success: #66C8A2;
  }
}

body {
  color: var(--charcoal);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-width-input {
  width: 33rem;
}

.custom-margin-display {
  width: 100%;
}